snakemake-executor-plugin-cluster-generic==1.0.9
snakemake-interface-common==1.22.0
snakemake-interface-executor-plugins==9.3.9
snakemake-interface-logger-plugins==2.0.0
snakemake-interface-report-plugins==1.3.0
snakemake-interface-scheduler-plugins==2.0.2
snakemake-interface-storage-plugins==4.3.2
snakemake==9.14.5