---
executor: cluster-generic
cluster-generic-submit-cmd: mkdir -p logs/slurm/{rule} &&
  sbatch
  "--export={resources.sbatch_export} "
  "--account=${PROJECT}"
  --time={resources.runtime}
  {resources.partitionFlag}
  {resources.exclusive}
  --cpus-per-task={threads}
  --mem={resources.mem_mb}
  --job-name=smk-{rule}
  --output=logs/slurm/{rule}/{rule}-%j.out
  --parsable
  --gpus={resources.gpu}
cluster-generic-status-cmd: status-sacct-robust.sh
cluster-generic-cancel-cmd: scancel
default-resources:
  - partitionFlag=""
  - exclusive=""
  - mem_mb=4000
  - runtime=5
  - gpu=0
  - sbatch_export="APPTAINER_CLEANENV=true,APPTAINER_CONTAINALL=true,APPTAINER_WRITABLE_TMPFS=true"
# override containall/cleanenv for funannotate specifically
# see https://github.com/snakemake/snakemake/issues/262#issuecomment-3669712984
set-resources:
  tiberius:
    partitionFlag: "--partition=gpu-a100-short"
    threads: 1
    mem: "105G"
    runtime: 240
  helixer:
    partitionFlag: "--partition=gpu-a100"
    threads: 1
    mem: "105G"
    runtime: 1440
  braker3:
    threads: 32
    mem: "256G"
  funannotate_predict:
    threads: 32
    mem: "256G"
    sbatch_export: "APPTAINER_CLEANENV=false,APPTAINER_CONTAINALL=false,APPTAINER_WRITABLE_TMPFS=false"
restart-times: 0
max-jobs-per-second: 50
max-status-checks-per-second: 10
local-cores: 2
cores: 50
latency-wait: 60
jobs: 128
keep-going: true
keep-storage-local-copies: true
rerun-incomplete: true
printshellcmds: true
use-apptainer: true
apptainer-prefix: $APPTAINER_CACHEDIR
use-conda: False
apptainer-args: "-B $PWD,$TMPDIR,/data \
  --nv \
  -H $(mktemp -d) \
  --pwd $PWD \
  --env LC_ALL=C "
  # --containall --cleanenv --writable-tmpfs"
rerun-triggers:
  - mtime
benchmark-extended: True
